{block header}Nový soubor k termínu{/block}
{block content}
<form n:name="newFileToCourseForm">
{input course_id}
{input task_id}
    <div class="form-group">
        <label>Vybrat soubor: </label>{input file}
    </div>
    <div class="form-group">
        {input submit}
    </div>
</form>



{/block}