{block header}
Seznam studentů
{/block}
{block content}
{control taskStudentsGrid}
{snippet points_snippet}
	{ifset $error}
		{if $error = true}
			<script>$.notify("Zadaný počet bodů je vyšší než je maximum!", "error");</script>
		{else}
			<script>$.notify("Body byly úspěšně aktualizovány", "success");</script>
		{/if}
	{/ifset}
{/snippet}
{/block}