<li n:class="nav-item, $presenter->isLinkCurrent('Student:timetable') ? active">
    <a class="nav-link" n:href="Student:timetable">
        <i class="fas fa-fw fa-calendar-alt"></i>
        <span>Osobní rozvrh</span>
    </a>
</li>
<li n:class="nav-item, $presenter->isLinkCurrent('Student:mycourses') ? active">
    <a class="nav-link" n:href="Student:mycourses">
        <i class="fas fa-fw fa-list-ol"></i>
        <span>Student</span>
    </a>
</li>