<li n:class="nav-item, $presenter->isLinkCurrent('Homepage:courses') ? active">
    <a class="nav-link" n:href="Homepage:courses">
        <i class="fas fa-fw fa-graduation-cap"></i>
        <span>Kurzy</span>
    </a>
</li>