{block header}
<div class = "text-center">
    <h1>Odhlášení</h1>
</div>
{/block}
{block content}
<br><div class="bg-success p-xs b-r-sm"><b>Odhlášení proběhlo úspěšně!</b></div>
	{ifset $error}<br><div class="bg-danger p-xs b-r-sm"><b>{$error}</b></div>{/ifset}
{/block}