.hh {
    font-size: 1.2em;
}
tr {
  
  border-bottom: 1px solid black;
  border-left: 1px solid #626E7E;
}
table{
        font-family:sans-serif;
		  width: 100%;
		  border-spacing: 0;
		  table-layout: fixed;
		  margin-bottom: 50px;
}
.hour{
		font-size: 1.5em;
	    padding: 0;
		color: #626E7E;
	    background:#fff;
		border-bottom:1px solid #626E7E;
        border-collapse: separate;
		min-width: 100px;
		cursor: default;
}
td{
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #626E7E;
	position: relative;
	height: 32px;
	cursor: pointer;
}
th{
       text-align: center;
       border-left: 1px solid black;
       background: #626E7E;
	   padding: 0.5em;
	   overflow: hidden;
}